{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head %}
<link href="{% static 'css/bootstrap-treeview.min.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}ESODA | profile{% endblock %}
{% block header %}
{% with tab="profile" %}
  {% include "esoda/navbar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="result-page">
  <div class="container">
    <div class="row personal-page-main">
    <div class="col-md-3">
      <ul id="myTab" class="nav nav-pills nav-stacked personal-page-tab text-center h4">
        <li class="mydomain {% if profileTab == 'domain' %}active{% endif %}"><a href="{% url 'authentication:domain' %}">领域选择</a></li>
        {% comment %}
        <li {% if profileTab == "personal" %}class="active"{% endif %}><a href="{% url 'authentication:personal' %}">个人信息</a></li>
        {% endcomment %}
        <li class="{% if profileTab != 'domain' and profileTab != 'personal' and profileTab != 'favorites' %}active{% endif %}"><a {% if user.is_authenticated %} href="{% url 'auth_password_change' %}"{% else %} href="#" data-toggle="modal" data-target="#ModalLogin" {% endif %}>修改密码</a></li>
        {% comment %}
        <li {% if profileTab == "favorites" %}class="active"{% endif %}><a href="{% url 'authentication:favorites' %}">收藏夹</a></li>
        {% endcomment %}
        </ul>
    </div>
    <div class="col-md-9">
      {% block profile_content %}{% endblock %}
    </div>
  </div>
  </div>
</div>
{% endblock %}