{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}ESODA | profile{% endblock %}
{% block header %}
{% with tab="profile" %}
  {% include "esoda/navbar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="result-page">
	<div class="container">
		<div class="row personal-page-main">
      <div class="col-md-3">
      	<ul id="myTab" class="nav nav-tabs nav-stacked personal-page-tab">
			    <li {% if profileTab == "domain" %}class="active"{% endif %}><a href="{% url 'domain' %}">领域选择</a></li>
			    <li {% if profileTab == "personal" %}class="active"{% endif %}><a href="{% url 'personal' %}">个人信息</a></li>
			    <li {% if profileTab != "domain" and profileTab != "personal" and profileTab != "favorites" %}class="active"{% endif %}><a {% if user.is_authenticated %} href="{% url 'auth_password_change' %}"{% else %} href="" onclick="alert('请先登录！')"{% endif %}>安全与隐私</a></li>
			    <li {% if profileTab == "favorites" %}class="active"{% endif %}><a href="{% url 'favorites' %}">收藏夹</a></li>
				</ul>
      </div>
      <div class="col-md-9">
      	{% block profile_content %}{% endblock %}
      </div>
    </div>
	</div>
</div>
{% endblock %}