DEBUG=True
SECRET_KEY='u$duw_5fbf7^=(d47wgwbl4&67psy@*7eb+re2o6n%n8p@dh6h'
ALLOWED_HOSTS=*
## (On Windows)
# DATABASE_URL='sqlite:///.\\db.sqlite3'
## (On Linux)
# DATABASE_URL='sqlite:///./db.sqlite3'

## Should ask ADMIN for the following fields
MONGODB_HOST=???.???.???.???
MONGODB_USER=???
MONGODB_PASSWORD=???
