/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}

@media (min-width: 1200px) {
  .container {
    width: 1080px;
  }
}

.center-align {
	text-align: center;
	position: relative;
	margin: 0 auto;
}

.esoda-brand {
	font-family: 'Arial-Black', 'Arial Black';
	font-weight: 900;
}

.title {
	text-align: center;
}

.main-container {
	padding-bottom: 100px;
}
.nav-pills-reg {
	margin-top:4px;
}

.btn-search {
    color: #888;
    background-color: #fff;
    border-color: #ccc;
    width: 70px;
    height: 40px;
}

.menu-search {
	color: #888;
	min-width: 70px;
}

.dropdown-menu > li > a {
    padding: 3px 11px;
    color: #888;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #5bc0de;
}


.nav-pills > li > a {
	color: #5bc0de;
}

.modal-login-header {
	text-align: center;
	padding: 0px;
}

.modal-login-body {
	padding: 0px 20px;
}

.modal-login-footer {
	font-size: 12px;
	padding: 0px 20px;
	padding-bottom: 15px;
}

.modal-register-header {
	text-align: center;
	padding: 0px;
}

.modal-register-body {
	padding: 0px 20px;
}

.form-login {
	margin: 10px auto;
}

.form-register {
	margin: 10px auto;
}

.btn-login {
	margin: 10px 0px;
	background-color: #5bc0de;
	width: 100%;
}

.btn-register {
	margin: 10px 0px;
	background-color: #5bc0de;
	width: 100%;
}

.modal-forgot-password {
	text-align: left;
	float: left;
}

.modal-forgot-password > p > a{
	color: #999;
}

.modal-register {
	text-align: right;
	float: right;
}

.container-usage {
	color: #888;
	margin-top: 60px;
}

.container-footer {
	padding-top: 20px;
	text-align: center;
}

.footer {
	background-color: #333;
	color: #999;
}

.caption > h4 {
	text-align: center;
}

.caption-usage {
	margin-top: 10px;
	color: #888;
}

.container-feedback {
	color: #888;
	background-color: #eee;
	padding-top: 60px;
}

.ui-autocomplete-category {
	font-weight: bold;
	font-size: 18px;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.ui-autocomplete-label {
	font-weight: bold;
}

.ui-autocomplete-desc {
	color: #999;
}

.col-guide {
	padding-left: 20px;
	padding-right: 20px;
}
.usage-title {
	margin-bottom: 50px;
	text-align: center;
}

.thumbnail-guide {
	border: none;
}

.col-comments {
	padding-left: 30px;
	padding-right: 30px;
}

.copyright {
	margin-top: 15px;
}

.footer-link {
	color: #999;
}


.full-width {
	width: 100%;
}


#ResultItem {
	font-size: 28px;
	font-weight: 700;
}

#WordExplanation {
	padding-left: 30px;
	padding-top: 10px;
}

#CountUsage {
	font-weight: 700;
	color: #666;
}

#SearchDomain {
	font-weight: 700;
	color: #666;
}

#CollocResults {
	margin: 10px 10px;
	margin-bottom: 5px;
	padding: 20px 50px;
	background-color: #eee;
	max-height: 300px;
	overflow: scroll;
	border:0px;
}

#ResultList {
	background-color: #fff;
}

#ResultPageNav {
	text-align: center;
}

.result-page {
	margin-bottom: 0;
	background-color: #eee;
}

/*.result-sidebar {
	text-align: center;
	width: 15%;
}*/

.suggestion-container {
	background-color: #fff;
	width: 100%;
	margin-top: 30px;
	padding: 20px 10px;
	border: solid 1px #ddd;
}

.result-callout {
	padding: 30px;
	margin: 20px 20px;
	margin-top: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 7px;
	border-left-color: #333;
	border-radius: 3px
}

.result-warning {
	background-color:#ccc;
	margin: 0px 20px;
	margin-bottom: 10px;
	padding: 10px 25px;
}

.result-table-cell {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 10px 25px;
	margin: 20px 20px;
	margin-top: 5px;
}

.result-subtitle {
	font-weight: 700;
	float: left;
}

#Synonymous > span {
	padding: 0px 10px;
}

.colloc-result {
	padding: 20px 10px;
}

.pagination > li > a {
	background-color: #eee;
	color: #333;
	border: none;
}

.result-list-item {
	padding: 20px;
	font-size: 16px;
	border: solid 1px #eee;
}

.result-list-label {
	color: #ccc;
	font-weight: 700;
	float: left;
	margin-right: 30px;
}

.result-list-content {
	width: 95%;
	display: inline-block;
}
.result-list-content > p > a{
	color: #ccc;
}

.result-example {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 10px 10px;
	margin: 20px 20px;
	margin-top: 5px;
}

.panel-heart {
	padding: 10px 0px;
	font-size: 18px;
}

.panel-heart > a {
	color: #f90;
}

.example-list-label {
	display: none;
}

.example-list-content > strong {
	color: #5bc0de;
}

.example-list-source {
	color: #999;
}

.affix, .affix-top, .affix-bottom {
	width: 100%;
}

.back-to-top-affix {
	left: 76%;
	bottom: 5%;
}

.back-to-top {
	background-color: #fff;
	border: solid 1px #ddd;
	opacity: 0.5;
}
