/* Move down content because we have a fixed navbar that is 50px tall */
body {
	/*padding-top: 50px;*/
}

@media (min-width: 1200px) {
  .container {
    width: 1080px;
  }
}

.center-align {
	text-align: center;
	position: relative;
	margin: 0 auto;
}

.right-align {
	text-align: right;
}

.esoda-brand {
	font-family: 'Arial-Black', 'Arial Black';
	font-weight: 900;
}

.esoda-brand-main {
	color: #fff;
	font-size: 70px;
}

.esoda-brand-subtitle {
	color: #fff;
	padding-top: 8px;
	border-top: 2px solid #FFFFFF;
}

.navbar-default {
	height: 135px;
	background: #fff;
	border-color: #fff;
}

.navbar-index {
	margin-top: 46px;
}

.container-navbar {
	position: relative;
	margin: 0 auto;
}

.title {
	margin-bottom: 43px;
	text-align: center;
}

.jumbotron {
	background-color: #63b7e6;
	padding-top: 112px;
	padding-bottom: 195px;
}

.btn {
	background-color: #63B7E6;
}

.btn:active {
	background-color: #60b4e2 !important;
}

 .btn:hover {
 	background-color: #60b4e2 !important;
 }

 .btn:focus {
 	background-color: #60b4e2 !important;
 }

.btn-info {
	border-radius: 3px;
	border: 1px solid #fff;
}

.btn-search {
    color: #888;
    background-color: #fff;
    border-color: #ccc;
    width: 70px;
    height: 40px;
}

.btn-message {
	margin-top: 13px;
	border-radius: 5px;
	border: 2px solid #fff;
	font-size: 18px;
}

.menu-search {
	color: #888;
	min-width: 70px;
}

.dropdown-menu > li > a {
    padding: 3px 11px;
    color: #888;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #63B7E6;
	border-radius: 100px;
}


.nav-pills > li > a {
	color: #9b9b9b;
}

.modal-login-header {
	text-align: center;
	padding: 0px;
}

.modal-login-body {
	padding: 0px 20px;
}

.modal-login-footer {
	font-size: 12px;
	padding: 0px 20px;
	padding-bottom: 15px;
}

.modal-register-header {
	text-align: center;
	padding: 0px;
}

.modal-register-body {
	padding: 0px 20px;
}

.form-login {
	margin: 10px auto;
}

.form-register {
	margin: 10px auto;
}

.btn-login {
	margin: 10px 0px;
	width: 100%;
}

.btn-register {
	margin: 10px 0px;
	width: 100%;
}

.modal-forgot-password {
	text-align: left;
	float: left;
}

.modal-forgot-password > p > a{
	color: #999;
}

.modal-register {
	text-align: right;
	float: right;
}

.container-usage {
	color: #63B7E6;
	margin-top: 45px;
}

.container-feature {
	margin-top: 120px;
	margin-bottom: 45px;
}

.container-footer {
	margin-top: 19px;
	border-top: 1px solid #979797;
	padding-top: 20px;
	padding-bottom: 35px;
	color: #9b9b9b;
}

.container-message {
	padding-top: 40px;
	padding-bottom: 30px;
	font-size: 22px;
	color: #fff;
}

.message-title {
	margin-top: 40px;
}

.message-content {
	margin-top: 15px;
}

.message-box {
	font-size: 16px;
	height: 82px;
	text-align: left;
	color: #000;
	width: 100%;
	resize: none;
	overflow-y: scroll;
}

.caption > h4 {
	text-align: center;
}

.caption-usage {
	margin-top: 10px;
	color: #888;
}

.back-introduction {
	background: #63B7E6;
	height: 120px;
	padding-top: 10px;
}

.back-message {
	background: #63B7E6;
	height: 320px;
	border: 1px solid #9b9b9b;
}

.back-feedback {
	border-top: 2px solid #979797;
	padding-top: 60px;
}

.ui-autocomplete-category {
	font-weight: bold;
	font-size: 18px;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.ui-autocomplete-label {
	font-weight: bold;
}

.ui-autocomplete-label > strong {
	font-weight: initial;
	color: #999;
}

.ui-autocomplete-desc {
	color: #999;
}

.col-guide {
	padding-left: 30px;
	padding-right: 30px;
}

.col-introduction {
	border: 1px solid #979797;
	background: #fff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.col-introduction > h3 {
	color: #000;
}

.col-introduction > p {
	color: #9b9b9b;
	font-size: 18px;
}

.col-feature-img > img {
	width: 100%;
}

.col-feature-intro > p {
	margin: 0 0;
	color: #9b9b9b;
}

.col-message-right {
	text-align: right;
}

.usage-title {
	margin-bottom: 50px;
	text-align: center;
}

.thumbnail-guide {
	border: none;
}

.col-comments {
	padding-left: 30px;
	padding-right: 30px;
}

.copyright {
	margin-top: 15px;
}

.footer-link {
	color: #9b9b9b;
}

.footer-shares {
	margin-top: 40px;
}

.full-width {
	width: 100%;
}

.shares {
	margin-right: 31px;
}

#LikeOurSite {
	color: #fff;
}

#ResultItem {
	font-size: 28px;
	font-weight: 700;
}

#WordExplanation {
	padding-left: 30px;
	padding-top: 10px;
}

#CountUsage {
	font-weight: 700;
	color: #666;
}

#SearchDomain {
	font-weight: 700;
	color: #666;
}

#CollocResults {
	margin: 10px 10px;
	margin-bottom: 5px;
	padding: 20px 50px;
	background-color: #eee;
	max-height: 300px;
	overflow: scroll;
	border:0px;
}

#ResultList {
	background-color: #fff;
}

#ResultPageNav {
	text-align: center;
}

#Loading {
	display: none;
}

.result-page {
	margin-bottom: 0;
	background-color: #eee;
}

.result-sidebar {
	text-align: center;
	width: 200px;
}

.suggestion-container {
	background-color: #fff;
	width: 100%;
	margin-top: 30px;
	padding: 20px 10px;
	border: solid 1px #ddd;
}

.result-callout {
	padding: 30px;
	margin: 20px 20px;
	margin-top: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 7px;
	border-left-color: #333;
	border-radius: 3px
}

.result-warning {
	background-color:#ccc;
	margin: 0px 20px;
	margin-bottom: 10px;
	padding: 10px 25px;
	text-align: center;
}

.result-table-cell {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 10px 25px;
	margin: 20px 20px;
	margin-top: 5px;
}

.result-subtitle {
	font-weight: 700;
	float: left;
}

#Synonymous > span {
	padding: 0px 10px;
}

.colloc-result {
	padding: 20px 10px;
}

.pagination > li > a {
	background-color: #eee;
	color: #333;
	border: none;
}

.result-list-item {
	padding: 20px;
	font-size: 16px;
	border: solid 1px #eee;
}

.result-list-label {
	color: #ccc;
	font-weight: 700;
	float: left;
	margin-right: 30px;
}

.result-list-content {
	width: 95%;
	display: inline-block;
}
.result-list-content > p > a{
	color: #ccc;
}

.result-example {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 10px 10px;
	margin: 20px 20px;
	margin-top: 5px;
}

.panel-heart {
	padding: 10px 0px;
	font-size: 18px;
}

.panel-heart > a {
	color: #f90;
}

.example-list-label {
	display: none;
}

.example-list-content > strong {
	color: #5bc0de;
}

.example-list-source {
	color: #999;
}

.affix-bottom {
	position: absolute;
}

.back-to-top-cell {
	left: 80%;
	position: relative;
}

.back-to-top-affix.affix {
	bottom: 10px;
}

.back-to-top-affix.affix-top {
	position: fixed;
	bottom: 10px;
}

.back-to-top {
	background-color: #fff;
	border: solid 1px #ddd;
	opacity: 0.5;
}
