{% load static %}
<!--     <div class="hr hidden-xs">
      <span class="hr-inner">
        <a href="{% if tab == "index" %}/?q=efficient{% else %}#guide0{% endif %}"><span class="hr-inner-circle" id="circle0"></span></a>
        <a href="{% if tab == "index" %}/?q=wait{% else %}#guide1{% endif %}"><span class="hr-inner-circle hr-inner-circle-2" id="circle1"></span></a>
        <a href="{% if tab == "index" %}/?q=减少+the+demand+of{% else %}#guide2{% endif %}"><span class="hr-inner-circle hr-inner-circle-3" id="circle2"></span></a>
        <a href="{% if tab == "index" %}/?q=make+effort{% else %}#guide3{% endif %}"><span class="hr-inner-circle hr-inner-circle-4" id="circle3"></span></a>
      </span>
    </div> -->
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <a href="#guide0" id="guide0_index">
          <button value="efficient" class="example-btn-link btn-card">
            <div class="thumbnail thumbnail-guide {% if tab == "guide" %}guide-thumbnail{% endif %}">
{#              <img src="{% static 'img/usage_1.png' %}" alt="..." onmouseover="this.src='{% static 'img/usage_1_shadow.png' %}';" onmouseout="this.src='{% static 'img/usage_1.png' %}';">#}
              <img src="{% static 'img/usage_1.png' %}" alt="...">
              <div class="caption caption-usage">
                <h4>搜同义</h4>
                <p>论文里感到单词词汇用的不地道，找找看母语论文里别人怎么说</p>
              </div>
            </div>
          </button>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#guide1" id="guide1_index">
          <button value="wait" class="example-btn-link btn-card">
            <div class="thumbnail thumbnail-guide {% if tab == "guide" %}guide-thumbnail{% endif %}">
{#              <img src="{% static 'img/usage_2.png' %}" alt="..." onmouseover="this.src='{% static 'img/usage_2_shadow.png' %}';" onmouseout="this.src='{% static 'img/usage_2.png' %}';">#}
              <img src="{% static 'img/usage_2.png' %}" alt="...">
              <div class="caption caption-usage">
                <h4>找搭配</h4>
                <p>感到搭配用的不够漂亮，想换种说法，看看别人怎么搭配</p>
              </div>
            </div>
          </button>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#guide2" id="guide2_index">
          <button value="减少 the demand of" class="example-btn-link btn-card">
            <div class="thumbnail thumbnail-guide {% if tab == "guide" %}guide-thumbnail{% endif %}">
{#              <img src="{% static 'img/usage_3.png' %}" alt="..." onmouseover="this.src='{% static 'img/usage_3_shadow.png' %}';" onmouseout="this.src='{% static 'img/usage_3.png' %}';">#}
              <img src="{% static 'img/usage_3.png' %}" alt="...">
              <div class="caption caption-usage">
                <h4>中文查找</h4>
                <p>满腹经纶难以用英文讲述？中文查找功能帮助你更好表达自我</p>
              </div>
            </div>
          </button>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#guide3" id="guide3_index">
          <button value="make effort" class="example-btn-link btn-card">
            <div class="thumbnail thumbnail-guide {% if tab == "guide" %}guide-thumbnail{% endif %}">
{#              <img src="{% static 'img/usage_4.png' %}" alt="..." onmouseover="this.src='{% static 'img/usage_4_shadow.png' %}';" onmouseout="this.src='{% static 'img/usage_4.png' %}';">#}
              <img src="{% static 'img/usage_4.png' %}" alt="...">
              <div class="caption caption-usage">
                <h4>词组搜搭</h4>
                <p>先进算法让你不但能够查找单词连词组的搭配也能搜搭的得心应手</p>
              </div>
            </div>
          </button>
        </a>
      </div>
    </div>
