{% load static %}
{% load i18n %}

<div>
  <div id="guide0" class="row guide-group">
    <div class="col-md-10">
      <div class="guide-title2">搜同义：</div>
      <div class="guide-content1">使用？作为词缀，例如，查询circumstance的近义词，搜索 circumstance? </div>
      <div class="guide-content2">The &lt;word&gt;? finds synonyms of &lt;word&gt;. </div>
    </div>
    <div class="col-md-2">
      <button class="btn guide-btn">点击查看案例</button>
    </div>
  </div>
  <div id="guide1" class="row guide-group">
    <div class="col-md-10">
      <div class="guide-title2">找搭配：</div>
      <div class="guide-content1">使用*(修饰)方式修饰词，ESODA支持(主谓)/(动宾)/(介词)/(修饰)，或直接搜索单词于下一页筛选。 </div>
      <div class="guide-content2">(修饰) is one of the collocation indicators and * is a wildcard<br/>ESLWriter also support (主谓)/(动宾)/(介词). You may also try to enter the keywords directly and use our filter.</div>
    </div>
    <div class="col-md-2">
      <button class="btn guide-btn">点击查看案例</button>
    </div>
  </div>
  <div id="guide2" class="row guide-group">
    <div class="col-md-10">
      <div class="guide-title2">搜中文：</div>
      <div class="guide-content1">直接搜索中文 </div>
      <div class="guide-content2">Enter a Chinese keyword or phrase to find example</div>
    </div>
    <div class="col-md-2">
      <button class="btn guide-btn">点击查看案例</button>
    </div>
  </div>
  <div id="guide3" class="row guide-group">
    <div class="col-md-10">
      <div class="guide-title2">词组搜搭：</div>
      <div class="guide-content1">直接搜索单词或词组寻找合理搭配 </div>
      <div class="guide-content2">Enter a keyword or phrase to find example sentences.</div>
    </div>
    <div class="col-md-2">
      <button class="btn guide-btn">点击查看案例</button>
    </div>
  </div>
</div>