{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
{% with tab="guide" %}
  {% include "esoda/navbar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="guide-page">
  <div class="container">
    <div class="row guide-block">
      <div class="guide-title1">关于易搜搭</div>
    </div>
    <div class="row guide-intro">
      <div class="col-md-12">
        <p class="h4">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;易搜搭ESODA是清华PCG工作室出品的免费英文论文写作助手，让你像母语使用者一样进行英文写作。易搜搭在开发中，融合了写作字典ESLwriter的设计经验，通过收集了数十个专业英文论文语料库，划分出了十余种学术领域。现在已支持了中文查找英文表达，同义词查询，词组搜索等革新功能，希望能让您的英文论文写作更加舒心。
        </p>
      </div>
    </div>
    <div class="row guide-block">
      <div class="guide-title1">点击预览易搜搭的神奇搜索</div>
      {% with tab="guide" %}
        {% include "esoda/guide_icon.html" %}
      {% endwith %}
    </div>
    <dic class="row guide-block">
      <div class="guide-title1">进阶搜哒</div>
        <div id="guide0" class="row guide-group">
          <div class="col-md-10">
            <div class="guide-title2">换说法：</div>
            <div>查询单词，在结果页面的同义表达部分获取同义词。点击同义词跳转到相应查询。 </div>
            <div class="guide-content">Query a word, synonymous will be in the synonymous expression part of the results page.</div>
          </div>
          <div class="col-md-2">
            <a href="/?q=efficient"><button class="btn guide-btn">点击查看案例</button></a>
          </div>
        </div>
        <div class="row example-image">
          <img src="{% static 'img/example1.png' %}" alt="...">
        </div>
        <div id="guide1" class="row guide-group">
          <div class="col-md-10">
            <div class="guide-title2">搜搭配：</div>
            <div>查询单词，不同的搭配形式 (主谓)/(动宾)/(介词) 会出现在结果页面，每种搭配形式有多种词汇搭配可供选择。搜索搭配，得到相关的搭配。</div>
            <div class="guide-content">Query a word, different collocation forms will appear in the results page, each with a variety of collocations. And you can query collocation to learn about the relevant ones.</div>
          </div>
          <div class="col-md-2">
            <a href="/?q=wait"><button class="btn guide-btn">点击查看案例</button></a>
          </div>
        </div>
        <div class="row example-image">
          <img src="{% static 'img/example2.png' %}" alt="...">
        </div>
        <div id="guide2" class="row guide-group">
          <div class="col-md-10">
            <div class="guide-title2">中英混搭：</div>
            <div>可以在搜索时使用中英文两种语言，并可以进行中英文混搭搜索。</div>
            <div class="guide-content">Enter keyword or phrase in Chinese and English is both ok. A query can contain both Chinise and English </div>
          </div>
          <div class="col-md-2">
            <a href="/?q=减少+the+demand+of"><button class="btn guide-btn">点击查看案例</button></a>
          </div>
        </div>
        <div class="row example-image">
          <img src="{% static 'img/example3.png' %}" alt="...">
        </div>
        <div id="guide3" class="row guide-group">
          <div class="col-md-10">
            <div class="guide-title2">找短语：</div>
            <div>搜索英文短语，了解用法。</div>
            <div class="guide-content">Enter a keyword or phrase to find example sentences.</div>
          </div>
          <div class="col-md-2">
            <a href="/?q=make+effort"><button class="btn guide-btn">点击查看案例</button></a>
          </div>
        </div>
        <div class="row example-image">
          <img src="{% static 'img/example4.png' %}" alt="...">
        </div>
      </div>
    </dic>
  </div>
</div>
{% endblock content %}

{% block script %}
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{% static 'js/esoda-icon.js' %}?v={% now 'Ymd' %}"></script>

{% endblock script %}
