{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
{% with tab="guide" %}
  {% include "esoda/navbar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="guide-page">
  <div class="container">
    <div class="row guide-block">
      <div class="guide-title1">&middot; 关于易搜搭 &middot;</div>
    </div>
    <div class="row guide-intro">
      <div class="col-md-10">
        <p class="h5">
        易搜搭ESODA是清华HCI Lab工作室出品的一款适合国人英语写作的信息助手，它广泛收录了各学科领域的海量论文作为数据库，通过智能语言分析等算法，供您通过各种方式查询地道的英语搭配和例句。从今以后像老外一样写作，再也不用担心自己的语言问题了！
        </p>
      </div>
    </div>
    <div class="row guide-block">
      <div class="guide-title1">&middot; 进阶搜搭 &middot;</div>
      <div id="guide0" class="row guide-group col-md-10">
        <div class="guide-title2 col-md-2"><img src="{% static 'img/usage_1.png' %}" alt="...">选词优化</div>
        <div class="guide-text col-md-10 col-xs-12">
          <h5>搜索单词或词组后，可替换词一栏将按照数量多少为您展示相关的可替换用法，您可以进行选择，并查看对应例句。</h5>
          <div class="guide-content">例如：搜索"precise"，您可以在左侧栏中寻找可替换用法。</div>
          <div class="row example-image">
            <img src="{% static 'img/example1.gif' %}" alt="...">
          </div>
        </div>
{#        <div class="col-md-2">#}
{#          <a href="/?q=efficient"><button class="btn guide-btn">点击查看案例</button></a>#}
{#        </div>#}
      </div>

      <div id="guide1" class="row guide-group col-md-10">
        <div class="guide-title2 col-md-2"><img src="{% static 'img/usage_2.png' %}" alt="...">搭配推荐</div>
        <div class="guide-text col-md-10 col-xs-12">
          <h5>易搜搭提供多种搭配查询：动宾、修饰、介词、主谓，帮助您更直接地寻找想要的搭配类型。</h5>
          <div class="guide-content">例如：搜索"improve quality"，您可以选择不同搭配寻找相关例句。</div>
          <div class="row example-image">
            <img src="{% static 'img/example2.gif' %}" alt="...">
          </div>
        </div>
{#        <div class="col-md-2">#}
{#          <a href="/?q=wait"><button class="btn guide-btn">点击查看案例</button></a>#}
{#        </div>#}
      </div>

      <div id="guide2" class="row guide-group col-md-10">
        <div class="guide-title2 col-md-2"><img src="{% static 'img/usage_3.png' %}" alt="...">中英混搜</div>
        <div class="guide-text col-md-10 col-xs-12">
          <h5>英文表达不明确时，您可以中英混搜，我们将为您匹配最合适的英文搭配。</h5>
          <div class="guide-content">例如：您可以直接搜索"result有重大意义"寻找结果。</div>
          <div class="row example-image">
            <img src="{% static 'img/example3.gif' %}" alt="...">
          </div>
        </div>
{#        <div class="col-md-2">#}
{#          <a href="/?q=减少+the+demand+of"><button class="btn guide-btn">点击查看案例</button></a>#}
{#        </div>#}
      </div>

      <div id="guide3" class="row guide-group col-md-10">
        <div class="guide-title2 col-md-2"><img src="{% static 'img/usage_4.png' %}" alt="...">词组搜搭</div>
        <div class="guide-text col-md-10 col-xs-12">
          <h5>除了单词，您还可以在易搜搭上搜索词组，我们将为您提供对应的可替换词和不同搭配，帮助您找到最地道的用法。</h5>
          <div class="guide-content">例如：搜索"come to conclusion"，您可以寻找替换说法和不同搭配。</div>
          <div class="row example-image">
            <img src="{% static 'img/example4.gif' %}" alt="...">
          </div>
        </div>
{#        <div class="col-md-2">#}
{#          <a href="/?q=make+effort"><button class="btn guide-btn">点击查看案例</button></a>#}
{#        </div>#}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
