{% load static %}
<!--     <div class="hr hidden-xs">
      <span class="hr-inner">
        <a href="{% if tab == "index" %}/?q=precise{% else %}#guide0{% endif %}"><span class="hr-inner-circle" id="circle0"></span></a>
        <a href="{% if tab == "index" %}/?q=improve+quality{% else %}#guide1{% endif %}"><span class="hr-inner-circle hr-inner-circle-2" id="circle1"></span></a>
        <a href="{% if tab == "index" %}/?q=result有重大意义{% else %}#guide2{% endif %}"><span class="hr-inner-circle hr-inner-circle-3" id="circle2"></span></a>
        <a href="{% if tab == "index" %}/?q=come+to+conclusion{% else %}#guide3{% endif %}"><span class="hr-inner-circle hr-inner-circle-4" id="circle3"></span></a>
      </span>
    </div> -->
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <a href="#guide0" id="guide0_index">
          <button value="precise" class="example-btn-link btn-card">
            <div class="thumbnail thumbnail-guide {% if tab == "guide" %}guide-thumbnail{% endif %}">
{#              <img src="{% static 'img/usage_1.png' %}" alt="..." onmouseover="this.src='{% static 'img/usage_1_shadow.png' %}';" onmouseout="this.src='{% static 'img/usage_1.png' %}';">#}
              <img src="{% static 'img/usage_1.png' %}" alt="...">
              <div class="caption caption-usage">
                <h4>选词优化</h4>
                <p>英文词汇太匮乏？看看国外作者相同意思怎么说。</p>
              </div>
            </div>
          </button>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#guide1" id="guide1_index">
          <button value="improve quality" class="example-btn-link btn-card">
            <div class="thumbnail thumbnail-guide {% if tab == "guide" %}guide-thumbnail{% endif %}">
{#              <img src="{% static 'img/usage_2.png' %}" alt="..." onmouseover="this.src='{% static 'img/usage_2_shadow.png' %}';" onmouseout="this.src='{% static 'img/usage_2.png' %}';">#}
              <img src="{% static 'img/usage_2.png' %}" alt="...">
              <div class="caption caption-usage">
                <h4>搭配推荐</h4>
                <p>担心搭配不地道？规范论文让各式搭配一目了然。</p>
              </div>
            </div>
          </button>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#guide2" id="guide2_index">
          <button value="result有重大意义" class="example-btn-link btn-card">
            <div class="thumbnail thumbnail-guide {% if tab == "guide" %}guide-thumbnail{% endif %}">
{#              <img src="{% static 'img/usage_3.png' %}" alt="..." onmouseover="this.src='{% static 'img/usage_3_shadow.png' %}';" onmouseout="this.src='{% static 'img/usage_3.png' %}';">#}
              <img src="{% static 'img/usage_3.png' %}" alt="...">
              <div class="caption caption-usage">
                <h4>中英混搜</h4>
                <p>满腹经纶难用英文表述？中文一样能找地道说法。</p>
              </div>
            </div>
          </button>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#guide3" id="guide3_index">
          <button value="come to conclusion" class="example-btn-link btn-card">
            <div class="thumbnail thumbnail-guide {% if tab == "guide" %}guide-thumbnail{% endif %}">
{#              <img src="{% static 'img/usage_4.png' %}" alt="..." onmouseover="this.src='{% static 'img/usage_4_shadow.png' %}';" onmouseout="this.src='{% static 'img/usage_4.png' %}';">#}
              <img src="{% static 'img/usage_4.png' %}" alt="...">
              <div class="caption caption-usage">
                <h4>词组搜搭</h4>
                <p>词组太长记不清？试试输入多个单词找相关例句。</p>
              </div>
            </div>
          </button>
        </a>
      </div>
    </div>
