{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load get_settings %}

{% block header %}
{% with tab="index" %}
  {% include "esoda/navbar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron section-blue">
    <div class="container">
      <div class="row">
        <div class="esoda-brand">
          <img src="{% static 'img/logo_white_Chinese.png' %}" class="esoda-brand-main">
          <hr class="esoda-brand-hr">
          <div class="esoda-brand-subtitle">
            <span>专业英文论文写作助手</span>
          </div>
        </div>
        <!-- <div class="col-xs-10 col-xs-offset-1"> -->
        <div class="col-xs-10 col-md-8 col-md-offset-2 col-xs-offset-1">
          <form id="SearchForm" class="form-horizontal" role="search" action="{% url 'esoda' %}">
            <div id="IndexSearchBar" class="input-group input-group-lg">
              <input id="SearchBox" type="text" class="form-control" placeholder="英文写作新体验" name="q" onfocus="this.placeholder = ''" onblur="this.placeholder = '英文写作新体验'"/>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-index-search">
                  <!-- <span class="hidden-xs">搜搭&nbsp;&nbsp;</span> -->
                  <span class="glyphicon glyphicon-search glyphicon-search-main"></span>
                </button>
              </span>
            </div>
            <div class="esoda-tips">
              搜搭示范：
              <button type="button" value="precise" class="btn-link example-btn-link">选词优化</button>
              <button type="button" value="improve quality" class="btn-link example-btn-link">搭配推荐</button>
              <button type="button" value="result有重大意义" class="btn-link example-btn-link">中英混搜</button>
              <button type="button" value="come to conclusion" class="btn-link example-btn-link">词组搜搭</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-usage">
    <!-- <div class="usage-title">点击预览易搜搭的神奇搜索</div> -->
    {% with tab="index" %}
      {% include "esoda/guide_icon.html" %}
    {% endwith %}
  </div>

  <!--TODO: fix the displaying problem in small screens-->
  <div class="back-introduction">
    <div class="container">
      <div class="row hidden-xs">
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-10 col-introduction">
              <h3>120,000,000+</h3>
              <p>专业论文原句</p>
            </div>
            <div class="col-sm-2">
              <!-- <div class="line"></div> -->
            </div>
          </div>
        </div>
        <div class="col-sm-3">
           <div class="row">
            <div class="col-sm-10 col-introduction">
              <h3>30+</h3>
              <p>一级学科覆盖</p>
            </div>
            <div class="col-sm-2">
              <!-- <div class="line"></div> -->
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-10 col-introduction">
              <h3>100,000,0+</h3>
              <p>地道搭配</p>
            </div>
            <div class="col-sm-2">
              <!-- <div class="line"></div> -->
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-10 col-introduction">
              <h3>4+</h3>
              <p>创新搜索方式</p>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--   </div> -->

  <div class="container container-feature">
    <div class="row">
      <div class="col-sm-5 col-feature">
        <div class="row">
          <div class="col-feature-title">
            <img class="col-feature-img" src="{% static 'img/features_1.png' %}">
            <div class="slash"></div>
            <h4>快捷</h4>
          </div>
          <div class="col-xs-10 col-feature-intro">
            <p>先进的算法，便捷的搭配查找方式，轻松发现每一处中式英文，与最标准的英文表达对比，给您最棒的论文写作体验</p>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-feature">
        <div class="row">
          <div class="col-feature-title">
            <img class="col-feature-img" src="{% static 'img/features_2.png' %}">
            <div class="slash"></div>
            <h4>地道</h4>
          </div>
          <div class="col-xs-10 col-feature-intro">
            <p>精准查看英文论文里的地道用法，更符合论文语言规范。大量例句直达引用出处，参考最专业的论文，解决写作难题</p>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-feature">
        <div class="row">
          <div class="col-feature-title">
            <img class="col-feature-img" src="{% static 'img/features_3.png' %}">
            <div class="slash"></div>
            <h4>专业</h4>
          </div>
          <div class="col-xs-10 col-feature-intro">
            <p>深入专业领域的论文写作助手，查看顶级会议、期刊的英语选词用法，甩掉犹豫，自信写作，从此不再担心用词不专业</p>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-feature">
        <div class="row">
          <div class="col-feature-title">
            <img class="col-feature-img" src="{% static 'img/features_4.png' %}">
            <div class="slash"></div>
            <h4>全面</h4>
          </div>
          <div class="col-xs-10 col-feature-intro">
            <p>覆盖全领域的海量论文库，挖掘出丰富的语言知识，轻松查看选词、搭配、句式使用量，最佳的中国化论文写作助手</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% comment %}
  <div class="back-message">
    <div class="container container-message">
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <img src="{% static 'img/notepad_L.svg' %}" class="message-notepad">
        </div>
        <div class="col-xs-7">
          为我们的工作点赞<br><br>留言帮助我们改进易搜搭
        </div>
        <!-- <div class="col-xs-6 col-message-right">
          <span id="CountOfFavorite">{{ count_of_favorite }}</span>
          &nbsp;&nbsp;
          <a href="#"><span id="LikeOurSite" onclick="$.clickHeart(event)" class="glyphicon glyphicon-heart-empty"></span></a>
        </div> -->
      </div>
      <form id="MsgForm" class="message-content" method="post" action="{% url 'common:comment' %}">
        {% csrf_token %}
        <div>
          <textarea form="MsgForm" name="message" class="message-box" id="UsrMsgBox"></textarea>
        </div>
        <button type="submit" id="MessageBtn" class="btn col-btn">留言</button>
      </form>
      <span class="read">
        <button id="btn-read" class="btn">查看留言</button>
        <button id="btn-unread" class="btn">收起留言</button>
      </span>
    </div>
    <br>
  </div>
{% endcomment %}

  <div class="back-feedback" id="feedback">
    <div class="container">
      <div>
        <ul class="nav nav-pills nav-pills-feedback" id="FeedbackTab" role="tablist">
{#          <li role="presentation" class="active">#}
{#            <a href="#Experts" role="tab" data-toggle="tab">专家评价</a>#}
{#          </li>#}
          <li role="presentation" class="active">
            <a href="#Users" role="tab" data-toggle="tab">用户留言</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
{#        <div id="Experts" role="tabpanel" class="tab-pane fade active in">#}
{#          <h4 class="feedback-title">清华HCI Lab出品，目前最好用的英语论文写作工具！</h4>#}
{#        </div>#}
        <div id="Users" role="tabpanel" class="tab-pane fade active in">
          <div id="UserFeedback" class="user-feedback">
            {% if comments|length == 0 %}
              <p>用户这样评价易搜搭</p>
            {% else %}
              {% for comment in comments %}
                <div class="collapse">
                  <p>"{{ comment.text }}"</p>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          <nav aria-label="...">
            <ul class="pager">
              <li><span class="glyphicon glyphicon-chevron-left"></span></li>
              <li><span class="glyphicon glyphicon-chevron-right"></span></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block script %}
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  <script src="{% static 'js/esoda-index.js' %}?v={% get_settings 'JS_ESODA_INDEX_VERSION' %}"></script>

{% endblock script %}
