{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'esoda' %}"><img src="{% static 'img/logo.png' %}"  class="navbar-logo"></a>
      </div>
      <div id="navbar" class="navbar-index navbar-collapse collapse">
        {% if not user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
          <!--li><a href="#"><img src="{% static 'img/user.png' %}" class="user-image"></a></li-->
          <li><a href="#" data-toggle="modal" data-target="#ModalLogin" class="login">您好，请登录</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><img src="{% static 'img/user.png' %}" class="user-image"></a></li>
          <li><a>欢迎回来，{{ user.username|truncatechars:12 }}</a></li>
          <li><a href="/logout">登出</a></li>
        </ul>
        {% endif %}
        <ul class="nav nav-pills navbar-right nav-pills-index" role="tablist">
          <li role="presentation" class="active"><a role="tab" href="{% url 'esoda' %}">主页</a></li>
          <li role="presentation"><a role="tab" id="AddBookmark" href="#" title="Bookmark this page">收藏我们</a></li>
          <li role="presentation"><a role="tab" href="{% url 'personal' %}">个人领域</a></li>
          <li role="presentation"><a role="tab" href="{% url 'guide' %}">搜搭教程</a></li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
{% endblock %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 title">
          <img src="{% static 'img/logo_white.png' %}" class="esoda-brand-main">
          <hr class="esoda-brand-hr">
          <div class="esoda-brand-subtitle">
            <span>专业英文论文写作助手</span>
          </div>
        </div>
        <div id="SearchBar" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6">
          <form id="SearchForm" class="form-horizontal" role="search" action="{% url 'esoda' %}">
            <div class="input-group input-group-lg">
              <input id="SearchBox" type="text" class="form-control" placeholder="英文写作新体验" name="q"/>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-info">搜搭&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-usage">
    <div class="usage-title">点击预览易搜搭的神奇搜索</div>
    <div class="hr hidden-xs">
      <span class="hr-inner">
        <a href="#guide0"><span class="hr-inner-circle"></span></a>
        <a href="#guide1"><span class="hr-inner-circle hr-inner-circle-2"></span></a>
        <a href="#guide2"><span class="hr-inner-circle hr-inner-circle-3"></span></a>
        <a href="#guide3"><span class="hr-inner-circle hr-inner-circle-4"></span></a>
      </span>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-guide">
        <div class="thumbnail thumbnail-guide">
          <img src="{% static 'img/usage_1.png' %}" alt="...">
          <div class="caption caption-usage">
            <h4>搜同义</h4>
            <p>论文里感到单词词汇用的不地道，找找看母语论文里别人怎么说</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-guide">
        <div class="thumbnail thumbnail-guide">
          <img src="{% static 'img/usage_2.png' %}" alt="...">
          <div class="caption caption-usage">
            <h4>找搭配</h4>
            <p>感到搭配用的不够漂亮，想换种说法，看看别人怎么搭配</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-guide">
        <div class="thumbnail thumbnail-guide">
          <img src="{% static 'img/usage_3.png' %}" alt="...">
          <div class="caption caption-usage">
            <h4>中文查找</h4>
            <p>满腹经纶难以用英文讲述？中文查找功能帮助你更好表达自我</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-guide">
        <div class="thumbnail thumbnail-guide">
          <img src="{% static 'img/usage_4.png' %}" alt="...">
          <div class="caption caption-usage">
            <h4>词组搜搭</h4>
            <p>先进算法让你不但能够查找单词连词组的搭配也能搜搭的得心应手</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="result-page">
    <div class="container">
      <dic class="row">
        <div class="guide-title1">进阶搜哒</div>
          {% include "esoda/guide_content.html" %}
        </div>
      </dic>
    </div>
  </div>

  <!--TODO: fix the displaying problem in small screens-->
  <div class="back-introduction">
    <div class="container container-usage">
      <div class="row hidden-xs">
        <div class="col-xs-6 col-sm-3 col-introduction">
          <h3>149,000,000</h3>
          <p>专业论文库</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-introduction">
          <h3>3,000+</h3>
          <p>日均浏览量</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-introduction">
          <h3>32+</h3>
          <p>个人领域</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-introduction">
          <h3>4+</h3>
          <p>创新搜索方式</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-feature">
    <div class="row">
      <div class="col-sm-6 col-feature">
        <div class="row">
          <div class="col-xs-3 col-feature-img">
            <img src="{% static 'img/features_1.png' %}">
          </div>
          <div class="col-xs-9 col-feature-intro">
            <h4>快捷</h4>
            <p>先进的算法，便捷的搭配查找方法，轻松替换每一个中式英文单词，搭配最漂亮的英文表达，给你最棒的论文写作体验</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-feature">
        <div class="row">
          <div class="col-xs-3 col-feature-img">
            <img src="{% static 'img/features_2.png' %}">
          </div>
          <div class="col-xs-9 col-feature-intro">
            <h4>地道</h4>
            <p>精准查看母语论文里的地道用法，更符合论文书写规范。大量例句随意查，引用出处轻松看，还原最原汁原味的母语表达，解决论文写作难题</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-feature">
        <div class="row">
          <div class="col-xs-3 col-feature-img">
            <img src="{% static 'img/features_3.png' %}">
          </div>
          <div class="col-xs-9 col-feature-intro">
            <h4>专业</h4>
            <p>针对32种专业领域的论文写作助手，查看顶级会议，国际期刊中英语选词用法，再不担心用词不专业，甩掉犹豫，自信写论文</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-feature">
        <div class="row">
          <div class="col-xs-3 col-feature-img">
            <img src="{% static 'img/features_4.png' %}">
          </div>
          <div class="col-xs-9 col-feature-intro">
            <h4>全面</h4>
            <p>海量论文库，涉及147900000篇论文，覆盖近30年领域内全面信息，轻松查看单词，搭配使用量，最佳的中国化论文写作工具</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="back-feedback">
    <div class="container">
      <div>
        <ul class="nav nav-pills nav-pills-feedback" id="FeedbackTab" role="tablist">
          <li role="presentation" class="active">
            <a href="#Experts" role="tab" data-toggle="tab">专家评价</a>
          </li>
          <li role="presentation">
            <a href="#Users" role="tab" data-toggle="tab">用户留言</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div id="Experts" role="tabpanel" class="tab-pane fade active in">
          <h4 class="feedback-title">清华大学PCG工作室出品，目前最好用的英文论文写作工具！</h4>
        </div>
        <div id="Users" role="tabpanel" class="tab-pane fade">
          <h4 class="feedback-title">用户这样评价易搜搭</h4>
          <div id="UserFeedback">
            <div class="user-feedback">
              {% for feedback in feedbackList %}
              <p>"{{ feedback.content }}"</p>
              <h5>{{ feedback.user_name }}</h5>
              {% endfor %}
            </div>
          </div>
          <nav aria-label="...">
            <ul class="pager">
              <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="back-message">
    <div class="container container-message">
      <div class="row">
        <div class="col-xs-6 xs-font-size-18">
          为我们的工作点赞
        </div>
        <div class="col-xs-6 col-message-right">
          <span id="CountOfFavorite">{{ count_of_favorite }}</span>
          &nbsp;&nbsp;
          <a href="#"><span id="LikeOurSite" onclick="$.clickHeart(event)" class="glyphicon glyphicon-heart-empty"></span></a>
        </div>
      </div>
      <div class="message-title xs-font-size-18">留言帮助我们改进易搜搭</div>
      <div class="row message-content">
        <div class="col-sm-2 hidden-xs">
          <img src="{% static 'img/notepad_L.svg' %}" class="message-notepad">
        </div>
        <div class="col-sm-10">
          <textarea class="message-box"></textarea>
        </div>
      </div>
      <div class="col-message-right col-btn">
        <div id="MessageBtn" class="btn btn-message">留言</div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  
  <script>
  $( function() {

    /* -------------------- Testing code -------------------- */
    /*
    $.getData = function( request ) {
      if (request == "") {
        return defList;
      } else {
        var matcher = new RegExp( "^" + request.term, "i" );
        return $.grep( words, function( item ) {
          return matcher.test( item.label );
        });
      }
    };
    */
    /*
    $( "#CountOfFavorite" ).html($("#CountOfFavorite").html().replace("{{ count_of_favorite }}", "12049"));
    $( "#UserFeedback div:first" ).css("display", "none");
    userFeedback.forEach(function (value) {
      var feedback = $("#UserFeedback div:first").clone().css("display", "block");
      feedback.children("p:first").html(feedback.children("p:first").html().replace("{{ feedback_content }}", value.content));
      feedback.children("h5:first").html(feedback.children("h5:first").html().replace("{{ feedback_user_name }}", value.name));
      $("#UserFeedback").append(feedback);
    });
    */
    /* -------------------- Testing code --------------------- */


  } );
  </script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

  <script src="{% static 'js/esoda-index.js' %}"></script>
{% endblock script %}
