{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"  class="navbar-logo"></a>
      </div>
      <div id="navbar" class="navbar-index navbar-collapse collapse">
        {% if not user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
          <!--li><a href="#"><img src="{% static 'img/user.png' %}" class="user-image"></a></li-->
          <li><a href="#" data-toggle="modal" data-target="#ModalLogin">您好，请登录</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><img src="{% static 'img/user.png' %}" class="user-image"></a></li>
          <li><a>欢迎回来，{{ user.username|truncatechars:12 }}</a></li>
          <li><a href="logout">登出</a></li>
        </ul>
        {% endif %}
        <ul class="nav nav-pills navbar-right nav-pills-index" role="tablist">
          <li role="presentation" class="active"><a role="tab" href="{% url 'index' %}">主页</a></li>
          <li role="presentation"><a role="tab" id="AddBookmark" href="#" title="Bookmark this page">收藏我们</a></li>
          <li role="presentation"><a role="tab" href="#">个人领域</a></li>
          <li role="presentation"><a role="tab" href="#">搜搭教程</a></li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
{% endblock %}

{% block content %}
  {% include "esoda/modal_login.html" %}

  {% include "esoda/modal_register.html" %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 title">
          <img src="{% static 'img/logo_white.png' %}" class="esoda-brand-main">
          <hr class="esoda-brand-hr">
          <div class="esoda-brand-subtitle">
            <span>专业英文论文写作助手</span>
          </div>
        </div>
        <div id="SearchBar" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <form id="SearchForm" class="form-horizontal" role="search" action="{% url 'result' %}">
            <div class="input-group input-group-lg">
              <input id="SearchBox" type="text" class="form-control" placeholder="英文写作新体验" name="q"/>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-info">搜搭&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-usage">
    <div class="usage-title">点击预览易搜搭的神奇搜索</div>
    <div class="hr hidden-xs">
      <span class="hr-inner">
        <a href=""><span class="hr-inner-circle"></span></a>
        <a href=""><span class="hr-inner-circle hr-inner-circle-2"></span></a>
        <a href=""><span class="hr-inner-circle hr-inner-circle-3"></span></a>
        <a href=""><span class="hr-inner-circle hr-inner-circle-4"></span></a>
      </span>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-guide">
        <div class="thumbnail thumbnail-guide">
          <img src="{% static 'img/usage_1.png' %}" alt="...">
          <div class="caption caption-usage">
            <h4>搜同义</h4>
            <p>论文里感到单词词汇用的不地道，找找看母语论文里别人怎么说</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-guide">
        <div class="thumbnail thumbnail-guide">
          <img src="{% static 'img/usage_2.png' %}" alt="...">
          <div class="caption caption-usage">
            <h4>找搭配</h4>
            <p>感到搭配用的不够漂亮，想换种说法，看看别人怎么搭配</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-guide">
        <div class="thumbnail thumbnail-guide">
          <img src="{% static 'img/usage_3.png' %}" alt="...">
          <div class="caption caption-usage">
            <h4>中文查找</h4>
            <p>满腹经纶难以用英文讲述？中文查找功能帮助你更好表达自我</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-guide">
        <div class="thumbnail thumbnail-guide">
          <img src="{% static 'img/usage_4.png' %}" alt="...">
          <div class="caption caption-usage">
            <h4>词组搜搭</h4>
            <p>先进算法让你不但能够查找单词连词组的搭配也能搜搭的得心应手</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--TODO: fix the displaying problem in small screens-->
  <div class="back-introduction">
    <div class="container container-usage">
      <div class="row hidden-xs">
        <div class="col-xs-6 col-sm-3 col-introduction">
          <h3>149,000,000</h3>
          <p>专业论文库</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-introduction">
          <h3>3,000+</h3>
          <p>日均浏览量</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-introduction">
          <h3>32+</h3>
          <p>个人领域</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-introduction">
          <h3>4+</h3>
          <p>创新搜索方式</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-feature">
    <div class="row">
      <div class="col-sm-6 col-feature">
        <div class="row">
          <div class="col-xs-3 col-feature-img">
            <img src="{% static 'img/features_1.png' %}">
          </div>
          <div class="col-xs-9 col-feature-intro">
            <h4>快捷</h4>
            <p>先进的算法，便捷的搭配查找方法，轻松替换每一个中式英文单词，搭配最漂亮的英文表达，给你最棒的论文写作体验</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-feature">
        <div class="row">
          <div class="col-xs-3 col-feature-img">
            <img src="{% static 'img/features_2.png' %}">
          </div>
          <div class="col-xs-9 col-feature-intro">
            <h4>地道</h4>
            <p>精准查看母语论文里的地道用法，更符合论文书写规范。大量例句随意查，引用出处轻松看，还原最原汁原味的母语表达，解决论文写作难题</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-feature">
        <div class="row">
          <div class="col-xs-3 col-feature-img">
            <img src="{% static 'img/features_3.png' %}">
          </div>
          <div class="col-xs-9 col-feature-intro">
            <h4>专业</h4>
            <p>针对32种专业领域的论文写作助手，查看顶级会议，国际期刊中英语选词用法，再不担心用词不专业，甩掉犹豫，自信写论文</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-feature">
        <div class="row">
          <div class="col-xs-3 col-feature-img">
            <img src="{% static 'img/features_4.png' %}">
          </div>
          <div class="col-xs-9 col-feature-intro">
            <h4>全面</h4>
            <p>海量论文库，涉及147900000篇论文，覆盖近30年领域内全面信息，轻松查看单词，搭配使用量，最佳的中国化论文写作工具</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="back-feedback">
    <div class="container">
      <div>
        <ul class="nav nav-pills nav-pills-feedback" id="FeedbackTab" role="tablist">
          <li role="presentation" class="active">
            <a href="#Experts" role="tab" data-toggle="tab">专家评价</a>
          </li>
          <li role="presentation">
            <a href="#Users" role="tab" data-toggle="tab">用户留言</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div id="Experts" role="tabpanel" class="tab-pane fade active in">
          <h4 class="feedback-title">清华大学PCG工作室出品，目前最好用的英文论文写作工具！</h4>
        </div>
        <div id="Users" role="tabpanel" class="tab-pane fade">
          <h4 class="feedback-title">用户这样评价易搜搭</h4>
          <div id="UserFeedback">
            <div class="user-feedback">
              <p>"{{ feedback_content }}"</p>
              <h5>{{ feedback_user_name }}</h5>
            </div>
          </div>
          <nav aria-label="...">
            <ul class="pager">
              <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="back-message">
    <div class="container container-message">
      <div class="row">
        <div class="col-xs-6 xs-font-size-18">
          为我们的工作点赞
        </div>
        <div class="col-xs-6 col-message-right">
          <span id="CountOfFavorite">{{ count_of_favorite }}</span>
          &nbsp;&nbsp;
          <a href="#"><span id="LikeOurSite" onclick="$.clickHeart(event)" class="glyphicon glyphicon-heart-empty"></span></a>
        </div>
      </div>
      <div class="message-title xs-font-size-18">留言帮助我们改进易搜搭</div>
      <div class="row message-content">
        <div class="col-sm-2 hidden-xs">
          <img src="{% static 'img/notepad_L.svg' %}" class="message-notepad">
        </div>
        <div class="col-sm-10">
          <textarea class="message-box"></textarea>
        </div>
      </div>
      <div class="col-message-right">
        <div id="MessageBtn" class="btn btn-message">留言</div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  
  <script>
  $( function() {

    /* -------------------- Testing code -------------------- */
    var words = [
      { label: "survey", desc: "调查.测验", category: "Words" },
      { label: "upset", desc: "心烦意乱的;不安的,不适的", category: "Words" },
      { label: "ignore", desc: "不理睬.忽视", category: "Words" },
      { label: "concern", desc: "(使)担心:涉及;关系到 n 担心;关注.(利害)关系", category: "Words" },
      { label: "vet", desc: "兽医", category: "Words" },
      { label: "Amsterdam", desc: "阿姆斯特丹(荷兰首都)", category: "Words" },
      { label: "Netherlands", desc: "荷兰(西欧国家)", category: "Words" },
      { label: "Jew", desc: "犹太人的;犹太族的", category: "Words" },
      { label: "German", desc: "德国的.德国人的.德语的.", category: "Words" },
      { label: "Nazi", desc: "纳粹党人 adj 纳粹党的", category: "Words" },
      { label: "series", desc: "连续,系列", category: "Words" },
      { label: "outdoors", desc: "在户外.在野外", category: "Words" },
      { label: "spellbind", desc: "迷住;疑惑", category: "Words" },
      { label: "purpose", desc: "故意", category: "Words" },
      { label: "dusk", desc: "黄昏傍晚", category: "Words" },
      { label: "loose", desc: "adj 松的.松开的", category: "Words" },
      { label: "entire", desc: "adj 整个的;完全的,全部的", category: "Words" },
      { label: "entirely", desc: "ady. 完全地.全然地.整个地", category: "Words" },
      { label: "power", desc: "能力.力量.权力。", category: "Words" },
      { label: "thunder", desc: "vi 打雷雷鸣 n 雷,雷声", category: "Words" },
      { label: "curtain", desc: "窗帘;门帘.幕布", category: "Words" },
      { label: "dusty", desc: "adj 积满灰尘的", category: "Words" },
      { label: "partner", desc: "伙伴.合作者.合伙人", category: "Words" },
      { label: "settle", desc: "安家.定居.停留 vt 使定居.安排.解决", category: "Words" },
      { label: "suffer", desc: "vt &遭受;忍受经历", category: "Words" },
      { label: "loneliness", desc: "孤单寂寞", category: "Words" },
      { label: "highway", desc: "高速公路", category: "Words" },
      { label: "recover", desc: "痊愈;恢复", category: "Words" },
      { label: "pack", desc: "捆扎;包装打行李 n 小包:包裹", category: "Words" },
      { label: "suitcase", desc: "手提箱;衣箱", category: "Words" },
      { label: "overcoat", desc: "大衣外套", category: "Words" },
      { label: "teenager", desc: "十几岁的青少年", category: "Words" },
      { label: "gossip", desc: "闲话 闲谈", category: "Words" },
      { label: "exactly", desc: "确实如此.正是;确切地山", category: "Words" },
      { label: "disagree", desc: "不同意", category: "Words" },
      { label: "grateful", desc: "感激的.表示谢意的", category: "Words" },
      { label: "dislike", desc: "不喜欢.厌恶", category: "Words" },
      { label: "tip", desc: "提示.技巧.尖;尖端.小费 倾斜;翻倒", category: "Words" },
      { label: "secondly", desc: "第二.其次", category: "Words" },
      { label: "swap", desc: "交换", category: "Words" },
      { label: "item", desc: "项目.条款", category: "Words" },
      { label: "subway", desc: "<美>地铁", category: "Words" },
      { label: "elevator", desc: "n 电梯;升降机", category: "Words" },
      { label: "petrol", desc: "<英>汽油( = <美> gasoline )", category: "Words" },
      { label: "gasoline", desc: "汽油.气体.煤气;毒气。", category: "Words" },
      { label: "official", desc: "adj 官方的.正式的.公务的", category: "Words" },
      { label: "voyage", desc: "n 航行.航海", category: "Words" },
      { label: "conquer", desc: "征服.占领", category: "Words" },
      { label: "native", desc: "本国的;本地的 n 本地人.本国人", category: "Words" },
      { label: "apartment", desc: "<美>公寓住宅.单元住宅", category: "Words" },
      { label: "actually", desc: "实际上,事实上", category: "Words" },
      { label: "base", desc: "根据 n 基部;基地,墓础", category: "Words" },
      { label: "gradual", desc: "逐渐的.逐步的", category: "Words" },
      { label: "enrich", desc: "使富裕;充实,改善", category: "Words" },
      { label: "vocabulary", desc: "词汇.词汇量.词表", category: "Words" },
      { label: "spelling", desc: "拼写.拼法", category: "Words" },
      { label: "latter", desc: "较后的后平的;(两者中)后者的 .", category: "Words" },
      { label: "identity", desc: "本身.本体", category: "Words" },
      { label: "fluent", desc: "流利的.流畅的", category: "Words" },
      { label: "frequent", desc: "adj 频繁的.常见的", category: "Words" },
      { label: "usage", desc: "使用.用法.词语惯用法", category: "Words" },
      { label: "command", desc: "命令;指令;把握", category: "Words" },
      { label: "request", desc: "哀求;要求", category: "Words" },
      { label: "dialect", desc: "方言", category: "Words" },
      { label: "expression", desc: "词语;表示表达", category: "Words" },
      { label: "midwestern", desc: "中西部的.有中西部特性的", category: "Words" },
      { label: "African", desc: "adj 非洲的:非洲人的;非洲语言的", category: "Words" },
      { label: "lightning", desc: "闪电", category: "Words" },
      { label: "straight", desc: "街区", category: "Words" },
      { label: "cab", desc: "出租车", category: "Words" },
      { label: "journal", desc: "日记;杂志.定期刊物", category: "Words" },
      { label: "transport", desc: "运送.运输", category: "Words" },
      { label: "prefer", desc: "更喜欢选择某事物而不选择其他事物", category: "Words" },
      { label: "disadvantage", desc: "不利条件;不便之处", category: "Words" },
      { label: "fare", desc: "费用", category: "Words" },
      { label: "route", desc: "人路线.路途", category: "Words" },
      { label: "flow", desc: "流动.流出 n 流动.流量", category: "Words" },
      { label: "persuade", desc: "说服.劝说", category: "Words" },
      { label: "cycle", desc: "骑自行车", category: "Words" },
      { label: "graduate", desc: "毕业 n 大学毕业生", category: "Words" },
      { label: "finally", desc: "最后.终于", category: "Words" },
      { label: "schedule", desc: "进度表", category: "Words" },
      { label: "fond", desc: "心喜爱的.慈祥的宠爱的", category: "Words" },
      { label: "stubborn", desc: "顽固的;固执的", category: "Words" },
      { label: "organize", desc: "组织,成立", category: "Words" },
      { label: "detail", desc: "细节;详情", category: "Words" },
      { label: "determine", desc: "讨决定;确定;下定决心", category: "Words" },
      { label: "journey", desc: "旅行.旅程", category: "Words" },
      { label: "altitude", desc: "海拔高度.高处", category: "Words" },
      { label: "valley", desc: "谷流域", category: "Words" },
      { label: "waterfall", desc: "瀑布", category: "Words" },
      { label: "pace", desc: "缓漫而行.踱步入一步.速度;步调", category: "Words" },
      { label: "bend", desc: "弯,拐角", category: "Words" },
      { label: "meander", desc: "蜿蜒缓慢流动飞", category: "Words" },
      { label: "attitude", desc: "看法", category: "Words" },
      { label: "forecast", desc: "猜测;预告", category: "Words" },
      { label: "parcel", desc: "小包;包裹", category: "Words" },
      { label: "insurance", desc: "保险", category: "Words" },
      { label: "wool", desc: "羊毛.毛织", category: "Words" },
      { label: "add up", desc: "合计", category: "Expressions" },
      { label: "have got to", desc: "不得不;必须", category: "Expressions" },
      { label: "be concerned about", desc: "关心.挂念", category: "Expressions" },
      { label: "walk the dog", desc: "遇狗", category: "Expressions" },
      { label: "go through", desc: "经历;经受", category: "Expressions" },
      { label: "set down", desc: "记下;放下.登记", category: "Expressions" },
      { label: "a series of", desc: "一连串的.一系列;一套", category: "Expressions" },
      { label: "in order to", desc: "为了", category: "Expressions" },
      { label: "at dusk", desc: "在黄昏时刻", category: "Expressions" },
      { label: "face to face", desc: "面对面地", category: "Expressions" },
      { label: "no longer/not any longer", desc: "不再", category: "Expressions" },
      { label: "suffer from", desc: "遭受.患病", category: "Expressions" },
      { label: "get/be tired of", desc: "对 厌烦", category: "Expressions" },
      { label: "pack ( sth ) up", desc: "将(东西)装箱打包", category: "Expressions" },
      { label: "get along with", desc: "与 相处.进展", category: "Expressions" },
      { label: "fall in love", desc: "相爱;爱上", category: "Expressions" },
      { label: "join in", desc: "参加.加入", category: "Expressions" },
      { label: "because of", desc: "因为", category: "Expressions" },
      { label: "come up", desc: "走近,上来.提出", category: "Expressions" },
      { label: "at present", desc: "现在;目前", category: "Expressions" },
      { label: "make use of", desc: "利用 使用", category: "Expressions" },
      { label: "play a part ( in )", desc: "扮演个角色:参与", category: "Expressions" },
      { label: "ever since", desc: "从那以后", category: "Expressions" },
      { label: "be fond of", desc: "喜爱;喜欢", category: "Expressions" },
      { label: "short coming", desc: "缺点", category: "Expressions" },
      { label: "care about", desc: "关心;忧虑;", category: "Expressions" },
      { label: "change one’s mind", desc: "改变主意", category: "Expressions" },
      { label: "make up one’s mind", desc: "下决心.决定", category: "Expressions" },
      { label: "give in", desc: "投降.屈服.让步", category: "Expressions" },
      { label: "as usual", desc: "照常", category: "Expressions" }
    ];
    var defList = [
      { label: "主谓", desc: "quality have", value: "quality have", category: "用法示例" },
      { label: "修饰", desc: "quality data", value: "quality data", category: "用法示例" },
      { label: "动宾", desc: "quality of", value: "quality of", category: "用法示例" }
    ];
    var userFeedback = [
      { content: "无产阶级政党的党章是以马克思主义党的学说为指导，结合党的建设的实践而制定的党的生活准则和行为规范。", name: "潘星宇"},
      { content: "无产阶级政党的党章是以马克思主义党的学说为指导，结合党的建设的实践而制定的党的生活准则和行为规范。", name: "潘星宇"}
    ];
    $.getData = function( request ) {
      if (request == "") {
        return defList;
      } else {
        var matcher = new RegExp( "^" + request.term, "i" );
        return $.grep( words, function( item ) {
          return matcher.test( item.label );
        });
      }
    };
    $( "#CountOfFavorite" ).html($("#CountOfFavorite").html().replace("{{ count_of_favorite }}", "12049"));
    $( "#UserFeedback div:first" ).css("display", "none");
    userFeedback.forEach(function (value) {
      var feedback = $("#UserFeedback div:first").clone().css("display", "block");
      feedback.children("p:first").html(feedback.children("p:first").html().replace("{{ feedback_content }}", value.content));
      feedback.children("h5:first").html(feedback.children("h5:first").html().replace("{{ feedback_user_name }}", value.name));
      $("#UserFeedback").append(feedback);
    });
    /* -------------------- Testing code --------------------- */

    $( "#SearchBox" ).val("");

  } );
  </script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

  <script src="{% static 'js/esoda-index.js' %}"></script>
{% endblock script %}
