{% load static %}
{% load i18n %}

<div class="modal fade" id="ModalLogin">
  <div class="modal-dialog modal-sm modal-login-sm">
    <div class="modal-content modal-login-content">
      <div class="modal-header modal-login-header">
        <img src="{% static 'img/logo.png' %}" class="modal-logo">
        <p>登陆易搜搭，开启英文写作新体验</p>
      </div>
      <div class="modal-body modal-login-body">
        <form id="LoginForm" class="form-horizonal" role="login" action="">
          <input type="text" class="form-control form-login" placeholder="电子邮箱" name="id"/>
          <input type="password" class="form-control form-login" placeholder="密码" name="password"/>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            密码错误！
          </div>
          <span class="form-login">
            <button type="submit" class="btn btn-login">登入易搜搭</button>
          </span>
        </form>
      </div>
      <div class="modal-footer modal-login-footer">
        <div class="modal-forgot-password">
          <p><a href="">忘记密码？</a></p>
        </div>
        <div class="modal-register">
          <p><a href="" data-toggle="modal" id="OpenRegister" data-target="#ModalRegister">注册，加入易搜搭</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
