{% load static %}
{% load i18n %}

<div class="modal fade" id="ModalRegister">
  <div class="modal-dialog modal-sm modal-register-sm">
    <div class="modal-content">
      <div class="modal-header modal-register-header">
        <img src="{% static 'img/logo.png' %}" class="modal-logo">
        <p>加入易搜搭，享受更多个性化服务</p>
      </div>
      <div class="modal-body modal-register-body">
        <form id="RegisterForm" class="form-horizonal" role="register" action="">
          <div class="modal-register-hint">电子邮箱地址</div>
          <input type="text" class="form-control form-register" name="id"/>
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            邮箱可以使用！
          </div>
          <div class="modal-register-hint">设置密码</div>
          <input type="password" class="form-control form-register" name="password"/>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            密码不能少于6位！
          </div>
          <div class="modal-register-hint">确认密码</div>
          <input type="password" class="form-control form-register" name="conform"/>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            确认密码错误！
          </div>
          <div class="modal-register-click-hint">By clicking "开始搜搭", I agree to the <a href="">Terms of Service</a> and <a href="">Privacy Policy</a></div>
          <span class="form-register">
            <button type="submit" class="btn btn-register">开始搜搭</button>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
