.domain-main {
    padding-top: 30px;
}

.domain-main .nav-pills a {
    color: #000;
    font-weight: 400;
    text-decoration: none;
}

.domain-tab-pane {
    padding: 20px 5px 20px 5px;
    margin: 0px 0px 0px 15px;
    background: #FFF;
    box-shadow: 0 0 20px #ddd;
}
.domain-tab-level1 {
    cursor: pointer;
}
.domain-tab-level2 {
    cursor: pointer;
}
.domain-menu{
    padding: 30px 0px 20px 10px;
    margin: 0px 0px 0px 15px;
    background: #FFF;
    box-shadow: 0 0 20px #ddd;
}
.domain-tab-pane div {
    padding: 5px 15px 10px 15px;
}
.domain-tab-pane .active input{
    background-color: #42A5F5;
    color: #42A5F5;
    border: 1px solid #fff;
}
.domain-tab-pane .active input {
    background-color: #42A5F5;
    color: #42A5F5;
    border: 1px solid #fff;
}
.domain-tab-pane .active input:checked {
    background-color: #fff;
    color: #42A5F5;
    border: 1px solid #42A5F5;
}
.domain-tab-pane .active input::before {
    top:-1px;
    left:-1px;
}
.domain-main .domain-tab-pane .active a {
    color:#fff;
}
.domain-tab-pane .active{
    background-color: #42A5F5;
}
.domain-level-1 {
    padding-top: 3px;
    font-size: 18px;
}
.domain-level-2 {
    font-size: 16px;
    padding-top: 5px;
}
.domain-level-2 input{
    margin-top:2px;
}
.domain-level-3 {
    font-size:15px;
}
.domain-level-23 {
    padding-left:20px;
}
.domain-checkbox input {
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 2px;
    height: 16px;
    width: 16px;
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
    float:right;
}
.domain-btn-div {
    height: 100px;
    width: 100%;
}
.domain-btn {
    background: #42A5F5;
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    margin: auto; 
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-size:20px;
}
.domain-checkbox input:checked {
    background: #42A5F5;
    border: none;
}
.domain-checkbox input:checked::before {
    height: 16px;
    width: 16px;
    position: absolute;
    content: "\2714";
    display: inline-block;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
}
.domain-checkbox input:checked::after {
    background: #42A5F5;
    content: '';
}
.domain-icon {
    color:#b5b5b5;
}
.domain-item {
    padding:5px 10px 5px 10px;
    width:160px;
}
.domain-item-text {
    width: 100px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.domain-item input{
    top:-3px;
}
.domain-item-span span{
    padding-left: 5px;
    font-weight: 400;
}
.toast-success {
    background-color: #42A5F5;
}
.toast-warning {
    background-color: "red";
}
.toast-success a {
    text-decoration: underline;
}
.domain-full {
    display: flex;
}
.domain-full .tab-content,
.domain-full .tab-pane,
.domain-full .row{
    height: 100%;
}

.search-header {
    /*margin-top: -2px;*/
    width: 100%;
    height: 80px;
    position: relative;
    /*background-color: #6D6D6D;*/
    opacity: 80;
}
.search-bar {
    position: absolute;
    right: 0; 
    bottom: 0; 
    left: 0; 
    margin: auto; 
    width: 500px;
    height: 50px;
}
.search-bar input{
    border: none;
    outline: none;
    text-align: center;
    font-size:20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px #ddd;
}
.search-bar button {
    position: absolute;
    float:right;
    border: none;
    color:#42A5F5;
    height: 35px;
    top: 10px;
    right: 10px;
    background: #ffffff;
}
.search-bar span { 
    font-size: 20px;
}
.domain-body {
    /*background-color: #F5F7F9;*/
    background-color: #FAFAFA;
}