{% extends "profile_base.html" %}
{% load static %}
{% load i18n %}

{% block profile_content %}

<div id="field">
  <h4 class="personal-title"><strong>学术领域选择</strong></h4>
  <hr class="personal-line"/>
  <h5><strong>通过选择学术领域缩小文章范围</strong><h5>
  <!-- <form style="margin-top:10px;width:500px;" action="{% url 'domain' %}" method="post">
    {% csrf_token %}
    <div class='form-group fixed-form'>
        {% for field in form %}
      <div class="fieldWrapper">
        {{ field.label_tag }}{{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    </div>
    <button type="submit" class="btn field-select-btn">{% trans 'Save' %}</button>
  </form> -->
  <div class="form-group">
    <label for="input-search" class="sr-only">Search Tree:</label>
    <input type="input" class="form-control" id="input-search" placeholder="Type to search..." value="">
  </div>
  <button type="button" class="btn" id="btn-search">Search</button>
  <div id="tree"></div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/bootstrap-treeview.min.js' %}"></script>
<script>
 $(function () {
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    var tree = $.getJSON("{% url 'dept_tree' %}", '', function (data) {
        $('#tree').treeview({
            data: data,
            level: 2,
            showCheckbox: true,
            showIcon: false,
            onNodeChecked: function (event, node) {
                $.post("../domain/", {'id':node.id }, function(data){
                  console.log(node.id);
                })               
                $.getJSON("{% url 'changed_child' %}", {'id':node.id }, function(data){
                  for(var i=0;i<data.length;i++){
                    $('#tree').treeview('checkNode', [ data[i], { silent: true } ]);
                  } 
                }); 
            }
        });
        $('#tree').on('nodeUnchecked', function(event, node) {
          $.post("../domain/", {'id':node.id }, function(data){
            console.log(node.id);
          })              
          $.getJSON("{% url 'changed_child' %}", {'id':node.id }, function(data){
            for(var i=0;i<data.length;i++){
              $('#tree').treeview('uncheckNode', [ data[i], { silent: true } ]);
            } 
          });
        });
    });
    var search = function(e) {
      var pattern = $('#input-search').val();
      var options = {
        ignoreCase: true,     // case insensitive
        exactMatch: false,    // like or equals
        revealResults: true,  // reveal matching nodes
      }
      var results = $('#tree').treeview('search', [ pattern, options ]);
    }

    $('#btn-search').on('click', search);
    $('#input-search').on('keyup', search);

});
</script>
{% if messages %}
  <script>
  $(document).ready(function () {
  {% for message in messages %}
    toastr.success('{{ message }}. &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'esoda' %}">开始搜搭</a>');
  {% endfor %}
  });
  </script>
{% endif %}
{% endblock %}
