{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}ESODA | profile{% endblock %}
{% block head %}
    <link href="{% static 'css/domain.css' %}" rel="stylesheet">
{% endblock %}
{% block header %}
{% with tab="profile" %}
  {% include "esoda/navbar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="search" id="search-bar">
  <input type="text" id="input-search" placeholder="Type to search...">
</div>
<div class="result-page">
  <div class="container">
    <div class="row domain-main">      
      <form action="/domain/" method="post">
        {% csrf_token %}
        <div class="col-xs-4 col-sm-2 col-md-2 domain-tab">
          <ul id="myTab" class="nav nav-pills nav-stacked ">
            {% for k in corpus %}
              <li class="mydomain domain-checkbox domain-level-1 {%ifequal k.level 3 %}active{% endifequal %}">
                <h4>
                  <a href="#firstlevel{{k.id}}" id="firstleveltext{{k.id}}" data-toggle="tab">{{k.text}}</a>
                  <input type="checkbox" value="{{k.id}}" id="check{{k.id}}" name="ids" onclick="aa({{k.id}})" {% if k.state.checked %} checked="checked" {% endif %} />
                </h4>
              </li>
            {% endfor %}
        </div>
        <div class="col-xs-8 col-sm-10 col-md-10">
          <div id="myTabContent" class="tab-content">
          {% for k in corpus %}
            <div class="tab-pane domain-tab-pane fade in {%ifequal k.level 3 %}active{% endifequal %}" id="firstlevel{{k.id}}">
              <table>
                <tbody>
                {% for i in k.nodes %}
                  <tr class="row ">
                    {%ifequal k.level 3 %}
                    <td class="col-xs-4 col-sm-3 col-md-3 domain-level-2 domain-block domain-checkbox" >
                      <span id="secondleveltext{{i.id}}" {% if i.state.expand %}onclick="bb({{i.id}})"{% endif %}>{{i.text}}</span>
                      <input type="checkbox" value="{{i.id}}" id="check{{i.id}}" name="ids" class="checkchild{{k.id}}" onclick="aa({{i.id}});cc({{k.id}})" {% if i.state.checked %} checked="checked" {% endif %} >
                    </td>
                    <td class="col-xs-8 col-sm-9 col-md-9 domain-block domain-nopadding">
                      <div id="field{{i.id}}" class="domain-level-3" text="unexpand" style="max-height:40px; overflow:hidden;">
                        {% for j in i.nodes %}
                          <label class="domain-item domain-checkbox domain-item-span">
                            <input type="checkbox" value="{{j.id}}" id="check{{j.id}}" class="checkchild{{i.id}} checkchild{{k.id}}" onclick="cc({{i.id}});cc({{k.id}})" name="ids" {% if j.state.checked %} checked="checked" {% endif %}>
                            {% ifequal j.type "conf"%}
                              <span class="glyphicon glyphicon-file domain-icon" title="conference"></span>
                            {%else%}
                              <span class="glyphicon glyphicon-book domain-icon" title="journal"></span>
                            {% endifequal %}
                            <span id="checktext{{j.id}}" title="{{j.text}}">{{j.text}}</span></label>
                        {% endfor %}
                      </div>
                    </td>
                    {% else %}
                    <td class="col-xs-12 col-sm-12 col-md-12 domain-block domain-nopadding">
                      {% if i.state.expand %}  
                        <div class="domain-expand" onclick="bb({{i.id}})">
                          <div id="expand{{i.id}}"><span class="glyphicon glyphicon-chevron-down" ></span></div>
                        </div>
                      {% endif %}
                      <div id="field{{i.id}}" class="domain-level-3 domain-level-23" name="unexpand" style="max-height:40px; overflow:hidden;">
                        {% for j in i.nodes %}
                          <label class="domain-item domain-checkbox domain-item-span1">
                            <input type="checkbox" value="{{j.id}}" id="check{{j.id}}" class="checkchild{{k.id}}" name="ids" onclick="cc({{k.id}})" {% if j.state.checked %} checked="checked" {% endif %}>
                            <span id="checktext{{j.id}}" title="{{j.text}}">{{j.text}}</span>
                          </label>
                        {% endfor %}
                      </div>
                    </td>
                    {% endifequal %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            <input class="btn domain-btn" type="submit" value="提交"/>
            </div>
          {% endfor %}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<!-- <script src="{% static 'js/bootstrap-treeview.min.js' %}"></script> -->
<script>
  var last_result=[];
  var last_expand=[];
  var last_big=[];
  function aa(id){
    var temp =$("#check"+id).prop("checked");
    var items = document.getElementsByClassName("checkchild"+id);
    for (var i = 0; i < items.length; ++i) {
        items[i].checked=temp;
    }
    // $('.checkchild'+id).each(function (){
    //   // alert($(this).val());
    //   $(this).attr("checked", temp);
    // });
  }
  function bb(id){
    if($("#secondleveltext"+id).css('color')=='rgb(0, 0, 0)'){
      $("#field"+id).css('max-height', "500px");
      $("#secondleveltext"+id).css('color', "#63b7e6");
    }else{
      $("#field"+id).css('max-height', "40px");
      $("#secondleveltext"+id).css('color', "#000000");
    }
  }
  function cc(id) {
    var childStatus = false;
    $('.checkchild'+id).each(function (){
      childStatus = (childStatus || $(this).prop("checked"));
    });
    document.getElementById("check"+id).checked = childStatus;
  }
  var search = function(e) {
    var pattern = $('#input-search').val();
    $.getJSON("{% url 'authentication:search' %}", {'target':pattern }, function(data){
      for(var i=0;i<last_expand.length;i++){ 
        $("#field"+last_expand[i]).css('max-height', "40px");
        $("#secondleveltext"+last_expand[i]).css('color', "#000000");
      } 
      for(var i=0;i<last_result.length;i++){
        $("#checktext"+last_result[i]).css('color', "#000000");
      }
      if(last_big[0]!=data.big[0]){
        $("#firstlevel"+last_big[0]).tab('show');
      }
      for(var i=0;i<last_big.length;i++){ 
        if($.inArray(last_big[i], data.big)==-1){
          $("#firstleveltext"+last_big[i]).css('font-weight', "400");
        }
      }
      for(var i=0;i<data.expand.length;i++){ 
        $("#field"+data.expand[i]).css('max-height', "500px");
        $("#secondleveltext"+data.expand[i]).css('color', "#63b7e6");
      } 
      for(var i=0;i<data.result.length;i++){ 
        $("#checktext"+data.result[i]).css('color', "red");
      }
      $("#myTab a[href=\""+"#firstlevel"+data.big[0]+"\"]").tab('show');
      for(var i=0;i<data.big.length;i++){ 
        $("#firstleveltext"+data.big[i]).css('font-weight', "600");
      }
      last_result=data.result;
      last_expand=data.expand;
      last_big=data.big;
    });
  }

  $('#btn-search').on('click', search);
  $('#input-search').bind('keypress',function(event){
      if(event.keyCode == "13") search();
  });
</script>
  {% if messages %}
    <script>
    $(document).ready(function () {
    {% for message in messages %}
      {% ifequal message.tags "success"%}
        toastr.success('{{ message }}. &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'esoda' %}">开始搜搭</a>');
      {% else %}
        toastr.warning('{{ message }}');
      {% endifequal %}
    {% endfor %}
    });
    </script>
  {% endif %}
{% endblock %}
