{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "ESODA" %} | {% trans "500 an error occurred" %}{% endblock %}

{% block content %}

{# TODO: Add your code here #}
  {% include "esoda/modal_login.html" %}

  {% include "esoda/modal_register.html" %}

	<div class="result-page">
    <div class="container">
      <div class="row warning-page-main">
        <div class="col-sm-6">
          <div class="warning-page-circle"></div>
          <img src="{% static 'img/500.svg' %}" class="warning-page-icon">
        </div>
        <div class="col-sm-6">
          <div class="warning-page-hints">
            <div class="huge-title-number">500</div>
            <div class="middle-title">服务器为了您的论文牺牲了</div>
            <div class="middle-subtitle">服务器无响应</div>
            <button type="button" class="btn btn-warning-page" onclick="window.history.go(-1)">回到上一页</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
