{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="result-page">
  <div class="container">
      <div style="text-align: center;margin-top: 50px;font-size: 24px;">
        <h3><span class="glyphicon glyphicon-ok" style="color:#80c269;"></span>&nbsp;{% trans "Your account is now activated." %}&nbsp;{% trans "Redirecting to" %} <a id="HomeLink" href="{% url 'authentication:domain' %}">{% trans "domain page" %}</a>...</h3>
      </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    if ($("#HomeLink").length > 0) {
        setTimeout("location.href = \"{% url 'authentication:domain' %}\";", 2000);
    }
});
</script>
{% endblock %}
