{% extends "base.html" %}
{% load i18n %}

{% block title %}ESODA | Sign Out{% endblock %}

{% block content %}
<div style="text-align: center;margin-top: 50px;font-size: 24px;">
    <h3><span class="glyphicon glyphicon-ok" style="color:#80c269;"></span>&nbsp;{% trans 'Signing out ' %}...</h3>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    setTimeout(function () {
        window.location.replace('{% url "esoda" %}');
    }, 1000);
});
</script>    
{% endblock %}
