{% extends "profile_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block profile_content %}
<div id="safe">
	<h4 class="personal-title"><strong>更改密码</strong></h4>
	<hr class="personal-line"/>
	<h5><strong>若要更改密码，需要输入旧密码</strong></h5>
	<form method="post" action="." id="PasswordChangeForm" class="form-horizonal">
		{% csrf_token %}
		<div class="personal-changepassword">
			<div class='form-group'>
				<label class="form-text">{{ form.old_password.label }}</label> 
				{% render_field form.old_password class="form-normal" %}
				{% if form.old_password.errors %}
				<div class="alert alert-danger alert-dismissible alert-normal" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ form.old_password.errors.as_text }}
        </div>
				{% endif %}
			</div>
			<div class='form-group'>
				<label class="form-text">{{ form.new_password1.label }}</label> 
				{% render_field form.new_password1 class="form-normal" %}
				{% if form.new_password1.errors %}
				<div class="alert alert-danger alert-dismissible alert-normal" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ form.new_password1.errors.as_text }}
        </div>
				{% endif %}
			</div>
			<div class='form-group'>
				<label class="form-text">{{ form.new_password2.label }}</label>
				{% render_field form.new_password2 class="form-normal" %}
				{% if form.new_password2.errors %}
				<div class="alert alert-danger alert-dismissible alert-normal" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ form.new_password2.errors.as_text }}
        </div>
				{% endif %}
				{% if form.non_field_errors %}
				<div class="alert alert-danger alert-dismissible alert-normal" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ form.non_field_errors.as_text }}
        </div>
				{% endif %}
			</div>
			<input type="submit" style="margin-top: 20px;" class="btn" value="{% trans 'Submit' %}" />
		</div>
	</form>
</div>
{% endblock %}
