{% extends "profile_base.html" %}
{% load i18n %}

{% block manage_block %}
<h3 style="width:320px;text-align: left">{% trans 'Change Password' %}</h3>
<form method="post" action="." style="margin-top: 30px;" class="fixed-form">
	{% csrf_token %}
	{% comment %}
	<div class='form-group'>
		{{ form.as_p }}
	</div>
	{% endcomment %}
	<div class='form-group'>
		<label>{{ form.old_password.label }}</label> 
		{{ form.old_password }}
		{% if form.old_password.errors %}
		<p class="validation-summary-errors"><small>{{form.old_password.errors.as_text}}</small></p>
		{% endif %}
	</div>
	<div class='form-group'>
		<label>{{ form.new_password1.label }}</label> 
		{{ form.new_password1 }}
		{% if form.new_password1.errors %}
		<p class="validation-summary-errors"><small>{{form.new_password1.errors.as_text}}</small></p>
		{% endif %}
	</div>
	<div class='form-group'>
		<label>{{ form.new_password2.label }}</label>
		{{ form.new_password2 }}
		{% if form.new_password2.errors %}
		<p class="validation-summary-errors"><small>{{form.new_password2.errors.as_text}}</small></p>
		{% endif %}
		{% if form.non_field_errors %}
		<p class="validation-summary-errors"><small>{{form.non_field_errors.as_text}}</small></p>
		{% endif %}
	</div>
	<input type="submit" style="margin-top: 20px;" class="btn btn-success btn-default" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
