{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="result-page">
    <div class="container">
      {% if validlink %}
        <form method="post" action="." style="margin-top: 50px;" class="form-group fixed-form form-horizonal">
          {% csrf_token %}
          <label>{% trans 'New password' %}</label>
          {{ form.new_password1 }}
        {% if form.new_password1.errors %}
          <span class='validation-summary-errors'><small>{{form.new_password1.errors.as_text}}</small></span>
        {% endif %}
          <br>
          <br>

          <label>{% trans 'New password confirmation' %}</label>
          {{ form.new_password2 }}
        {% if form.new_password2.errors %}
          <span class='validation-summary-errors'><small>{{form.new_password2.errors.as_text}}</small></span>
        {% endif %}
          <br>
          <br>
          <input class="btn btn-primary" type="submit" value="提交" />
      </form>
    {% else %}
      <p style="text-align: center;margin-top: 50px;font-size: 24px;">该链接无效，密码重置失败</p>
    {% endif %}
  </div>
</div>
{% endblock %}
